{% extends "layout.html.twig" %}

{% block title %}Prestations pour {{ categorie.libelle }}{% endblock %}

{% block content %}
    <h2>Prestations pour : {{ categorie.libelle }}</h2>
    {% if prestations is empty %}
        <p>Aucune prestation.</p>
    {% else %}
        <ul>
            {% for prestation in prestations %}
                <li>
                    {{ prestation.libelle }}
                    <a href="{{ url_for('details_prestation', {}, {'id': prestation.id}) }}">(détails)</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <p><a href="{{ url_for('details_categorie', {'id': categorie.id}) }}">Retour à la catégorie</a></p>
{% endblock %}
