<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyGiftBox{% endblock %}</title>
</head>
<body>
    <header>
        <h1>MyGiftBox.net</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Accueil</a></li>
            <li><a href="{{ url_for('liste_categories') }}">Catégories</a></li>
            <li><a href="{{ url_for('liste_prestations') }}">Toutes les Prestations</a></li>
            <li><a href="{{ url_for('liste_coffrets_par_theme') }}">Nos Coffrets</a></li>
            <li><a href="{{ url_for('create_box') }}">Crée une nouvelle Box</a></li> 
            <li><a href="{{ url_for('view_current_box') }}">Ma Box</a></li>
            {% if user is not null %}
                <li>
                    <a href="{{ url_for('logout') }}">deconnexion</a>
                </li>
            {% else %}
                <li><a href="{{ url_for('signin_get') }}">Connexion</a></li>
                <li><a href="{{ url_for('register_get') }}">Register</a></li>
            {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}
            <p>Contenu par défaut</p>
        {% endblock %}
    </main>

    <hr>

    <footer>
        <p>© 2025 MyGiftBox.net</p>
    </footer>
</body>
</html>