{% extends "layout.html.twig" %}

{% block title %}Prestation : {{ prestation.libelle }}{% endblock %}

{% block content %}
    <h2>Prestation : {{ prestation.libelle }}</h2>
    <p>ID : {{ prestation.id }}</p>
    <p>Description : {{ prestation.description }}</p>
    <p>Tarif : {{ prestation.tarif }} ({{ prestation.unite|default('') }})</p>

    {% if prestation.img %}
        <img src="/images/{{ prestation.img }}" alt="{{ prestation.libelle }}">
    {% endif %}

    <p>{{ prestation.description }}</p>

    {% if session.current_box %}
      <form action="{{ url_for('add_prestation_to_box') }}" method="POST">
        <input type="hidden" name="id" value="{{ prestation.id }}">
        <label>
          Quantité :
          <input type="number" name="quantity" value="1" min="1" required/>
        </label>
        <button type="submit">Ajouter à la box</button>
      </form>


    {% else %}
            <p>Vous devez d'abord <a href="{{ url_for('create_box') }}">créer une box</a> avant d'ajouter des prestations.</p>
    {% endif %}
{% endblock %}
