{% extends "layout.html.twig" %}

{% block title %}Prestation : {{ prestation.libelle }}{% endblock %}

{% block content %}
    <h2>Prestation : {{ prestation.libelle }}</h2>
    <p>ID : {{ prestation.id }}</p>
    <p>Description : {{ prestation.description }}</p>
    <p>Tarif : {{ prestation.tarif }} ({{ prestation.unite|default('') }})</p>

    {% if prestation.img %}
        <img src="/images/{{ prestation.img }}" alt="{{ prestation.libelle }}">
    {% endif %}
{% endblock %}
