<h1>Prestations pour la Catégorie : {{ categorie.libelle }}</h1>
{% if categorie.prestations is empty %}
    <p>Aucune prestation trouvée pour cette catégorie.</p>
{% else %}
    <ul>
        {% for prestation in categorie.prestations %}
            <li>
                {{ prestation.libelle }} (ID: {{ prestation.id }})
                <a href="{{ url_for('details_prestation', {}, {'id': prestation.id}) }}">Voir détails</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<p><a href="{{ url_for('details_categorie', {'id': categorie.id}) }}">Retour à la catégorie "{{ categorie.libelle }}"</a></p>
<p><a href="{{ url_for('liste_categories') }}">Retour à la liste de toutes les catégories</a></p>