<h1>Catégorie : {{ categorie.libelle }}</h1>
<p>ID : {{ categorie.id }}</p>
<p>Description : {{ categorie.description|default('N/A') }}</p>

<p>
    <a href="{{ url_for('prestations_par_categorie', {'id': categorie.id}) }}">
        Voir les prestations de cette catégorie
    </a>
</p>

<p><a href="{{ url_for('liste_categories') }}">Retour à la liste des catégories</a></p>